html, 
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(http://4.bp.blogspot.com/-hkoXszFNs6w/Twx_gwn6i0I/AAAAAAAAGRM/3cdA8hS5-8I/w1200-h630-p-k-no-nu/%25D1%2584%25D0%25BE%25D0%25BD-%25D1%2581%25D0%25B5%25D1%2580%25D0%25B4%25D1%2586%25D0%25B0.png)
}
body{
    display: flex;
    flex-direction: column;
    
}
.row{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
/*шапка*/
header{
    border-bottom:  2px solid rgb(74, 8, 100);

}
header .row{
    display: flex;
    align-items: center;

}
header .logo{
    width: 50px;
    margin-right: 10px;
}
header .logo img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
header .brand{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}
header nav ul a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
header nav ul a:hover{
    background: rgb(71, 11, 31);
    color: aliceblue;
}
header .social ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;


}
header .social{
    margin-left: auto;

}
header .social ul li{
    margin-left: 10px;

}
header .social ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/*контент,редакция,1 ряд */
.obcee{
    display: flex;
}
/*контент,редакция,1 ряд 1 столбик*/
.fon{
    background: rgb(255, 125, 132);
    width: 400px;
   
}
.dvij{margin-left: 300px;}
.kontent ul{
    display: flex;
}.obcee{
    display: flex;
}

 .redakcia a img {
 width: 350px;
height: 270px;
margin-top: 10px ;
margin-left: 25px;

}

.oglavlenie{
    font-size: 40px;
    margin-top: 50px ;
    margin-left: 25px;

}
.nasvanie{
font-size: 20px;
margin-top: 5px ;
margin-left: 30px;
}
.redakcia2 a img {
    width: 350px;
   height: 270px;
   margin-top: 10px ;
   margin-left: 25px;
   
   }
   /*контент,редакция,1 ряд 2 столбик*/
   .fon2{
       background: rgb(255, 125, 132);
       width: 400px;
       margin-left: 10px;
      
   }
   .oglavlenie2{
       font-size: 20px;
       margin-top: 50px ;
   
   }
   .nasvanie2{
   font-size: 20px;
   margin-top: 5px ;
   margin-left: 35px;
   }
   /*контент,редакция,2 ряд */
   .obcee2{
    display: flex;
}
/*контент,редакция,2 ряд 1 столбик*/
   .redakcia3 a img {
    width: 350px;
   height: 270px;
   margin-top: 10px ;
   margin-left: 25px;
   
   }
   .fon3{
       background: rgb(255, 125, 132);
       width: 400px;
       margin-left: 340px;
      
   }
   .oglavlenie3{
       font-size: 20px;
       margin-top: 50px ;
   
   }
   .nasvanie3{
   font-size: 20px;
   margin-top: 5px ;
   margin-left: 35px;
   }
   /*контент,редакция,2 ряд 2 столбик*/
   .redakcia4 a img {
    width: 350px;
   height: 270px;
   margin-top: 10px ;
   margin-left: 25px;
   
   }
   .fon4{
       background: rgb(255, 125, 132);
       width: 400px;
       margin-left: 10px;
   }
   .oglavlenie4{
       font-size: 20px;
       margin-top: 50px ;
   
   }
   .nasvanie4{
   font-size: 20px;
   margin-top: 5px ;
   margin-left: 35px;
   }
   /* раздел звезды*/
   /* 1 */
   .redakciainf a img {
    width: 150px;
   height: 150px;
   margin-top: 10px ;
   margin-left: 25px;
   
   }
   .foninf{
       background: rgb(255, 125, 132);
       width: 850px;
       margin-left: 320px;
       display: flex;
   }
   .oglavlenieinf{
       font-size: 50px;
       margin-top: 20px ;
       margin-left: 320px;
       margin-bottom: 10px ;
   }
   .nasvanieinf{
   font-size: 30px;
   margin-top: 5px ;
   margin-left: 20px;
   }
   .inf{
    font-size: 20px;
    margin-left: 10px;
   }
   /* 2 */
   .redakciainf2 a img {
    width: 190px;
   height: 150px;
   margin-top: 10px ;
   margin-left: 25px;
   
   }
   .foninf2{
       background: rgb(255, 125, 132);
       width: 850px;
       margin-left: 320px;
       display: flex;
       margin-top: 10px;
   }
   .oglavlenieinf2{
       font-size: 50px;
       margin-top: 20px ;
       margin-left: 320px;
       margin-bottom: 10px ;
   }
   .nasvanieinf2{
   font-size: 30px;
   margin-top: 5px ;
   margin-left: 20px;
   }
   .inf2{
    font-size: 20px;
    margin-left: 10px;
   }
   /* 3 */
   .redakciainf3 a img {
    width: 170px;
   height: 150px;
   margin-top: 10px ;
   margin-left: 25px;
   
   }
   .foninf3{
       background: rgb(255, 125, 132);
       width: 850px;
       margin-left: 320px;
       display: flex;
       margin-top: 10px;
   }
   .oglavlenieinf3{
       font-size: 50px;
       margin-top: 20px ;
       margin-left: 320px;
       margin-bottom: 10px ;
   }
   .nasvanieinf3{
   font-size: 30px;
   margin-top: 5px ;
   margin-left: 20px;
   }
   .inf3{
    font-size: 20px;
    margin-left: 10px;
   } 
   .dalee{
    background: rgb(255, 125, 132);
    width: 110px;
    margin-left: 620px;
    margin-top: 10px;
    font-size: 40px;
   }
footer{

margin-top: auto;
border-top:  2px solid rgb(74, 8, 100);

}
footer .row{
    display: flex;  
}
footer .logo-foorte img{
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;

}
footer .title{
    margin-left: 20px;
    margin-top: 20px;
    color:rgb(0, 0, 0);
}
footer .social-footer ul li{
    list-style: none;
    margin-left: 10px;
    
   
}
footer .social-footer ul {
display: flex;

}
footer .social-footer ul li a{
    color: rgb(0, 0, 0);
}

